* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fafafa;
  color: #2a2a2a;
}

.filters {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 4px;
  margin-bottom: 24px;
}

.filters > .btn {
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.filters > .btn.is-selected {
  border-color: tomato;
}

.courses {
  display: grid;
  gap: 4px;
}
